:root {
    --primary-color: #571be3;
    --secondary-color: #000000;
    --tertiary-color: #ffffff;
}

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */
header {
    padding: 15px;
    background-color: #ffffff;
    color: black;
}

header nav {
    margin: 4px 0;
}

header nav ul {
    list-style-type: none;
    float: right;
}

header nav ul li {
    display: inline-block;
    margin-left: 65px;
}


a {
    color: #030303;
    font-size: 25px;
    text-decoration: none;
}
/* HEADER / NAVBAR STYLES END */


/* FOOTER STYLES START */
footer {
    background: var(--tertiary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    justify-content: flex-start;
}

footer div {
    margin: 4px 0;
}

footer div ul {
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer div ul li {
    padding: 10px 15px;
    /* font-size: 1.55vw; */
    justify-content: flex-end;
    display: inline-block;
    margin-left: 65px;
    display: flex;
}


/* END FOOTER STYLES */

/* STYLE ALL PARAGRAPH TAGS */
p {
    font-size: 20px;
    color: var(--primary-color);
    text-align: center;
}


/* HERO STYLES START */
.hero {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/blue.png");
    background-size: cover;
    background-position: center;
}

/* .hero {
    background-image: url("../images/blue.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}  */

.hero-name {
    width: 90%;
    text-align: center;
    margin: 3.5%;
    color: #fff;
    font-size: 25px;
    line-height: 3.2;
}

.hero-name h1 {
    font-style: bold;
    font-size: 55px;
    color: var(--primary-color);
}

/* .hero-img img {
    flex: 1 12%;
    margin-left: 15px;
} */

.hero-img img {
    display: block;
    margin: 0px auto;
    border-radius: 150px;
}


/* HERO STYLES END */

/* WORK STYLES START */

.work-projects {
    background-color: #fff;
}


.work-title {
    font-size: 35px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 10px;
    text-align: center;
    margin: 0px auto 35px auto;
    width: 50%;
}

.run-buddy {
    /* width: 200px;
    height: 300px;
    margin: right;
    background-position: center;
    background: url("../images/placeholder.png");
    background-size: cover;
    text-align: center;
    border-style: solid;
    border-color: var(--secondary-color);
    /* float: left; */
    /* display: flex;
    flex-direction: row;
    flex: wrap;
    align-items: center;
    justify-content: space-evenly; */
    /* width: 60%;
    height: 300px;
    background-position: center;
    background: url("../images/placeholder.png");
    background-size: cover;
    text-align: center;
    border-color: var(--secondary-color);
    border-radius: 25px;


} */

/* WORK STYLES END */



/* UTILITIES */
/* .text-left {
    text-align: left;
}

.text-right {
    text-align: right;
} */

.flex-row {
    display: flex;
}

/* ABOUT ME SECTION */
.summary {   
    line-height: 1.7;
    color: var(--secondary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}


.intro p {
    line-height: 1.7;
    color: var(--primary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}