:root {
    --primary-color: #571be3;
    --secondary-color: #000000;
    --tertiary-color: #ffffff;
}

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */
header {
    padding: 15px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

header nav {
    margin: 4px 0;
}

header nav ul {
    list-style-type: none;
    float: right;
}

header nav ul li {
    display: inline-block;
    margin-left: 65px;
}


a {
    color: var(--secondary-color);
    font-size: 25px;
    text-decoration: none;
}
/* HEADER / NAVBAR STYLES END */


/* FOOTER STYLES START */
footer {
    background: var(--tertiary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    justify-content: flex-start;
}

footer div {
    margin: 4px 0;
}

footer div ul {
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer div ul li {
    padding: 10px 15px;
    justify-content: flex-end;
    display: inline-block;
    margin-left: 65px;
    display: flex;
    color: var(--secondary-color);
    font-size: 25px;
}
/* END FOOTER STYLES */


/* STYLE ALL PARAGRAPH TAGS */
p {
    font-size: 20px;
    color: var(--primary-color);
    text-align: center;
}


/* HERO STYLES START */
.hero {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/blue.png");
    background-size: cover;
    background-position: center;
}

.hero-name {
    width: 90%;
    text-align: center;
    margin: 3.5%;
    line-height: 3.2;
}

.hero-name h1 {
    font-style: bold;
    font-size: 55px;
    color: var(--primary-color);
}

.hero-img img {
    display: block;
    margin: 0px auto;
    border-radius: 150px;
}
/* HERO STYLES END */


/* WORK STYLES START */
.work-projects {
    background-color: var(--tertiary-color);
}

.work-title {
    font-size: 35px;
    color: var(--secondary-color);
    border-bottom: 3px dotted;
    padding-bottom: 10px;
    text-align: center;
    margin: 0px auto 35px auto;
    width: 50%;
}

.run-buddy {
    text-align: center;
    border-color: var(--secondary-color);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.run-buddy h3 {
    text-align: center;
    color: var(--primary-color);
}

.work-image {
    width: 90%;
    border-radius: 70px;
}

.work-image.secondary-image {
    width: 78%;
    justify-content: space-evenly;
    border-radius: 70px;
}

.work-image.third-image {
    width: 48%;
    border-radius: 70px;
}
/* WORK STYLES END */


/* ABOUT ME STYLES START */
.summary h2 {  
    color: var(--secondary-color);
    font-size: 35px;
    border-bottom: 3px dotted;
    padding-bottom: 10px;
    text-align: center;
    margin: 0px auto 20px auto;
    width: 50%;
}
/* ABOUT ME STYLES END */



/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    footer div ul li {
        font-size: 20px;
        margin-left: 10px;
        padding-bottom: 2px;
    }
    footer div ul li a {
        font-size: 20px;
        padding-bottom: 0px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header nav ul li {
        display: inline;
        margin-left: 6px;
        font-size: 18px;
        justify-content: space-evenly;
    }

    .hero-img img {
        margin-top: -30px;
    }
}